/* Hide arrows for number input fields*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input:focus {
  border-color: #e8b009 !important;
  box-shadow: none !important;
}

/*-----------------------------------------------------*/
/* Override Jquery UI dialog classes*/
/*-----------------------------------------------------*/
.ui-widget-overlay {
    z-index: 1035 !important;
}

.ui-dialog .ui-dialog-content {
    text-align: center;
    min-height: 0 !important;
}

.ui-dialog .ui-dialog-buttonpane {
    text-align:  center;
    padding-right: 0.4em;
    padding-bottom: 0.3em;
    margin-top: 0;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
}

/*-----------------------------------------------------*/
/* Make placeholder text in input italics*/
/*-----------------------------------------------------*/
::-webkit-input-placeholder {
   font-style: italic;
}

/*-----------------------------------------------------*/
/* Override DateRangePicker classes*/
/*-----------------------------------------------------*/
.ranges li {
    border-radius: 0 !important;
    border-color: white;
    background-color: white;
    color: black;
}

.ranges li.active {
    border-radius: 0 !important;
    border-color: white;
    background-color: grey;
}

.daterangepicker td.active {
  background-color: grey !important;
}

.daterangepicker td.in-range {
  background-color: lightgrey;
}

.daterangepicker .applyBtn {
  background-color: #e8b009;
  border-color: #e8b009;
  color: black;
}
