#search-invoices-form .h-63 {
    height: 63%;
}

#search-invoices-form .h-37 {
    height: 37%;
}

#search-invoices-form .w-70 {
    width: 70%;
}

#search-invoices-form .search-invoices-right-border {
    border-right: 1px solid #e8b009;
}

#search-invoices-form .search-invoices-label {
    font-size: 14px;
}

#search-invoices-form .success-text {
    color: green;
    font-style: italic;
}

#search-invoices-form .edit-input-error {
    border-color: red;
}

/*-----------------------------------------------------*/
/* CSS formatting DataTable*/
/*-----------------------------------------------------*/
#search-invoices-form .dataTables_wrapper {
    font-size: 14px;
}

#search-invoices-form .dataTables_scrollBody {
    overflow-y: scroll !important;
}

#search-invoices-payments-table tbody tr.selected,
#search-invoices-products-table tbody tr.selected,
#search-invoices-invoices-table tbody tr.selected {
    background-color: grey;
}

#search-invoices-form .dataTable > thead > tr > th[class*="sort"] {
    padding-right: 0.3rem !important;
}

#search-invoices-form .dataTable > thead > tr > th[class*="sort"]:after,
#search-invoices-form .dataTable > thead > tr > th[class*="sort"]:before {
    content: "" !important;
}

/*-----------------------------------------------------*/
/* CSS formatting Bootstrap 4 classes*/
/*-----------------------------------------------------*/
#search-invoices-form .table-hover tbody tr:hover {
    background-color: #D2D2D2;
}
