/*----------------------------------------------------*/
/* Misc CSS formatting*/
/*----------------------------------------------------*/
#new-invoice-form .dont-display {
    visibility: hidden;
}

#new-invoice-form .red-text {
    color: red;
}

/*----------------------------------------------------*/
/* CSS formatting the rows in the main product table*/
/*----------------------------------------------------*/
#new-invoice-form .product-total {
    color: darkred;
}

#new-invoice-form .edit-input {
    display: none;
    width: 100px;
    text-align: center;
}

#new-invoice-form .edit-input-error {
    border-color: red;
}

#new-invoice-form .quantity,
#new-invoice-form .price,
#new-invoice-form .product-total {
    margin-bottom: 0;
    vertical-align: middle;
}

#new-invoice-form .main-table .delete-header {
    width: 5%;
}

#new-invoice-form .main-table .autocomplete-header {
    width: 35%;
}

#new-invoice-form .main-table .header {
    width: 20%;
}

/*----------------------------------------------------*/
/* CSS formatting the TOP of the invoice display*/
/*----------------------------------------------------*/
#new-invoice-form .top-formatting {
    height: 67vh;
}

#new-invoice-form .new-invoice-all-products-table {
    background-color: lightgrey;
    border-left: 1px solid black;
}

#new-invoice-form .main-table,
#new-invoice-form .footer-table {
    table-layout: fixed;
    margin-bottom: 0 !important;
}

#new-invoice-form .main-table-wrapper {
    height: 92%;
    overflow-y: auto;
    overflow-x: hidden;
}

#new-invoice-form .main-table tr {
    text-align: center;
}

#new-invoice-form .main-table td,
#new-invoice-form .header,
#new-invoice-form .autocomplete-header,
#new-invoice-form .delete-header {
    text-align: center !important;
    border: none !important;
}

#new-invoice-form .main-table td label {
    width: 100%;
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle !important;
}

#new-invoice-form .main-table thead {
    font-size: 15px;
    border-bottom: 1px solid black;
}

#new-invoice-form .footer-table-wrapper {
    height: 8%;
    border-top: 1px solid black;
    position: absolute;
    bottom: 0;
}

#new-invoice-form .footer-table th {
    font-size: 16px;
    text-align: left;
    border-bottom: 0 !important;
}

#new-invoice-form .footer-table #new-invoice-invoice-total {
    font-size: 16px;
    color: darkred;
    text-align: right;
}

/* Override close button css properties */
#new-invoice-form .close {
    color: red !important;
}

/* Override bootstrap classes*/
#new-invoice-form .inline {
    display: flex;
    align-items: center;
}

/*-----------------------------------------------------*/
/* CSS formatting the products list datatable*/
/*-----------------------------------------------------*/
#new-invoice-form .dataTables_filter {
    text-align: center !important;
}

#new-invoice-form .dataTables_wrapper {
    font-size: 14px;
    height: 100%;
    text-align: center !important;
}

#new-invoice-form .dataTables_scrollBody {
    overflow-y: scroll !important;
}

#new-invoice-products-table tbody tr.selected {
    background-color: grey !important;
}

#new-invoice-form .tab-focus {
    outline: 1px solid darkred;
    background-color: #D2D2D2;
}

#new-invoice-form .dataTable > thead > tr > th[class*="sort"] {
    padding-right: 0.3rem !important;
}

#new-invoice-form .dataTable > thead > tr > th[class*="sort"]:after,
#new-invoice-form .dataTable > thead > tr > th[class*="sort"]:before {
    content: "" !important;
}

/*-----------------------------------------------------*/
/* CSS formatting the BOTTOM of the invoice display*/
/*-----------------------------------------------------*/
#new-invoice-form .bottom-formatting {
    height: 26vh;
}

#new-invoice-form .top-border {
    border-top: 1px solid black;
}

#new-invoice-form .left-border {
    border-left: 1px solid black;
}

#new-invoice-form .radio-inline {
    font-size: 15px;
}

#new-invoice-form .h-45 {
    height: 45% !important;
}

/* Override bootstrap classes*/
#new-invoice-form .form-control {
    text-align: center;
}

#new-invoice-form .form-control {
    overflow: hidden;
    text-overflow: ellipsis;
}

#new-invoice-form .row {
    font-size: 15px;
}

#new-invoice-form .border {
    border-color: rgba(0, 0, 0, 0.125) !important;
}

#new-invoice-form .btn-secondary:not(:disabled):not(.disabled).active {
    color: black;
    background: #ffc107;
    border-color: transparent;
}

#new-invoice-form .btn-secondary.focus {
    outline: none;
    box-shadow: none !important;
}
