ul.ui-autocomplete {
    list-style: none;
}

.page-height {
    height: 100vh;
}


/*----------------------------------------------------*/
/* Misc CSS formatting*/
/*----------------------------------------------------*/
.highlight:hover {
    background-color: grey;
}

.glyphicon-remove {
    color: darkred;
}

.right-border-dashed {
    border-right: 1px dashed black;
}

.dont-display {
    visibility: hidden;
}


/*----------------------------------------------------*/
/* CSS formatting the rows in the main product table*/
/*----------------------------------------------------*/
.product-total {
    color: yellow;
}

.edit-input {
    display: none;
    width: 100px;
    text-align: center;
}

.edit-input-error {
    border-color: red;
}

.quantity, .price, .product-total {
    margin-bottom: 0;
    vertical-align: middle;
}

/*----------------------------------------------------*/
/* CSS formatting the BOTTOM of the invoice display*/
/*----------------------------------------------------*/
.bottom-formatting {
    height: 70vh;
    border-top: 1px solid #FECB00;
    background-color: lightgrey;
}

.main-table, .footer-table {
    table-layout: fixed;
    margin-bottom: 0 !important;
}

.main-table-wrapper {
    height: 91%;
}

.main-table tr {
    text-align: center;
}

.main-table .header, .delete-header, td {
    text-align: center !important;
    border: none !important;
}

.main-table .delete-header {
    width: 5%;
}

.main-table .header {
    width: 23.75%;
}

.main-table td {
    white-space: nowrap;
    max-width: 25%;
    text-overflow: ellipsis;
    vertical-align: middle !important;
}

.main-table thead {
    font-size: 15px;
    border-bottom: 1px solid black;
}

.footer-table-wrapper {
    border-top: 1px solid black;
    position: absolute;
    bottom: 0;
}

.footer-table th {
    font-size: 16px;
    text-align: left;
}

.footer-table #invoice-total {
    font-size: 16px;
    color: darkred;
    text-align: right;
}

input[id^='product-autocomplete'] {
    text-align: center;
    height: 30px;
}

/* Override x-editable css properties */
.editable-error-block {
    color: red;
    font-size: 14px;
}

/* Override easyautocomplete class css properties */
.easy-autocomplete {
    width: 100% !important;
}

.easy-autocomplete-container {
    max-height: 300px;
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Override close button css properties */
.close {
    color: red !important;
}

/*-----------------------------------------------------*/
/* CSS formatting the TOP of the invoice display*/
/*-----------------------------------------------------*/
.top-formatting {
    height: 30vh
}

.btn {
    width: 100%;
}

.radio-inline {
    font-size: 15px;
}

.error {
    color: red;
}

.form-control {
    text-align: center;
}

.row {
    font-size: 15px;
}