#products-form .top-formatting {
    height: 87%;
}

#products-form .button-row-formatting {
    height: 13%;
    border-top: 2px solid #FECB00;
}

#products-form .divider {
   border-right: 2px solid #FECB00;
}

#products-form .table-hover tbody tr:hover {
    background-color: #D2D2D2;
}

#products-form .tab-focus {
    outline: 1px solid darkred;
    background-color: #D2D2D2;
}

/*Override DataTables classes*/
#products-form .dataTables_filter {
    text-align: center !important;
}

#products-form .dataTables_wrapper {
    font-size: 14px;
    height: 100%;
}

#products-form .dataTables_scrollBody {
    overflow-y: scroll !important;
}

#products-products-table tbody tr.selected {
    background-color: grey !important;
}

#products-form .dataTable > thead > tr > th[class*="sort"] {
    padding-right: 0.3rem !important;
}

#products-form .dataTable > thead > tr > th[class*="sort"]:after,
#products-form .dataTable > thead > tr > th[class*="sort"]:before {
    content: "" !important;
}

/*Override bootstrap classes*/
#products-form .btn {
    font-size: 17px;
}

#products-form .form-control,
#products-form label {
    text-align: center;
    font-size: 14px;
}

#products-form .form-control,
#products-form .btn {
    overflow: hidden;
    text-overflow: ellipsis;
}

#products-form .border,
#products-form .table-bordered {
    border-color: rgba(0, 0, 0, 0.125) !important;
}

/*Override icheck class*/
#products-form .icheckbox_square-red {
    display: table;
    margin: 0 auto;
}

/* Hide arrows for number input fields*/
#products-form input[type=number]::-webkit-inner-spin-button,
#products-form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
