#stock-form .table-hover tbody tr:hover {
    background-color: #D2D2D2;
}

/*Override DataTables classes*/
#stock-form .dataTables_filter {
    text-align: center !important;
}

#stock-form .dataTables_wrapper {
    font-size: 14px;
    height: 100%;
}

#stock-form .dataTables_scrollBody {
    overflow-y: scroll !important;
}

#stock-form .dataTable > thead > tr > th[class*="sort"] {
    padding-right: 0.3rem !important;
}

#stock-form .dataTable > thead > tr > th[class*="sort"]:after,
#stock-form .dataTable > thead > tr > th[class*="sort"]:before {
    content: "" !important;
}

/*Override bootstrap classes*/
#stock-form .border,
#stock-form .table-bordered {
    border-color: rgba(0, 0, 0, 0.125) !important;
}
